@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    padding: 10%;
    font-size: 1.5rem;
}

/* input,
button {
    font: inherit;
} */

/* 
text-decoration: underlining, overlining, strikethrough, etc.
text-transform: all caps, capitalize (first letter), all lower, remove underline from links, etc.
text-align: left, right, center, justify (stretch to fit)
text-indent: first sentence
 */

/* 
line-height: distance between each line. Seems to be 1.2 by default.
letter-spacing: distance between each character
word-spacing: distance between each word
  */

/*
font-family: type of font
font-weight: how thick the font is displayed, seems to be 300 by default. Can choose a specific value (100 - 900) or light / bold
font-style: italic, oblique, normal, inherit

 */

p {
    text-indent: 2em;
    line-height: 1.2;
    font-family: 'Times New Roman', Times, serif;
}

.imported-font {
    font-family: 'dancing script';
}