@page {
    size: A4;
}

@layer reset, layout, utilities, print;

@layer reset {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        padding: 0;
        margin: 0;
        font: inherit;
    }

    img,
    picture,
    svg,
    video {
        display: block;
        max-width: 100%;
    }

    a {
        vertical-align: bottom;
        color: linen;

        &:hover {
            color: orange;
        }

        &:visited {
            color: #ccc;
        }
    }

    body {
        min-height: 100vh;
        max-width: 600px;
        margin: 0 auto 1rem;
    }
}

@layer layout {
    :root {
        --primary: #744d13;
        --accent: #0b6d19;
        --accent-light: #0b6d1988;
        --text-light: linen;
        --background: navajowhite;
    }

    body {
        background-color: var(--background);
    }

    h1 {
        font-size: 2.5rem;
        text-align: center;
        color: var(--accent-light);
    }

    h2 {
        font-size: 2rem;
        font-style: italic;
        color: var(--accent-light);
    }

    h3 {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-block: .5em;
    }

    h4 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    h5 {
        font-size: 1.2rem;
        padding-bottom: .25em;
    }

    .ribbon {
        padding: 0.5em 1em;
        background: var(--accent-light);
    }

    .job-title {
        font-size: 2rem;
        font-variant-caps: all-small-caps;
        font-weight: bold;
        text-align: center;
        letter-spacing: .5em;
        color: var(--text-light);
    }

    #about {
        display: grid;
        grid-template-columns: 8rem 1fr;

        & .about-title {
            grid-column: span 2;
            margin-left: 10px;
        }

        & .life {
            grid-column: 2;
            grid-row: 3;
            height: calc(min-content + 2rem);
            padding-block: 0.5em;
            background-color: var(--accent-light);
        }

        & .life-internal-image {
            display: none;
        }

        & .life-img {
            grid-column: 1;
            grid-row: 3;
            place-content: center;
            padding-inline: .5em 0;
            background: var(--accent-light);
        }

        & img {
            background-color: var(--accent-light);
        }

        & p {
            padding: 0.5em 1em;
            color: var(--text-light);
            color: white;
        }

        & .dev-code {
            grid-column: span 2;
            grid-row: 2;
            margin-block: -.5em;
            font-size: .75rem;
            color: var(--accent);
        }
    }

    main {

        & #personal {
            padding: 0.5em 1em 0;

            & ul {
                columns: 2;
                list-style: none;

                & .company-logo {
                    vertical-align: middle;
                }
            }

            & .company-logo {
                display: inline-block;
                width: 20px;
                aspect-ratio: 1;
            }
        }

        & .dev-code {
            font-size: .75rem;
            color: var(--accent);
        }

        & .job-grid {
            display: grid;

            & .job-overview {
                grid-column: 1;

                & ul {
                    margin-left: 1em;
                }
            }
        }
    }

    footer {
        padding: .5rem 1rem;
        margin: 2rem 1rem 0;
        color: white;
        background: var(--accent-light);

        & .quote-block {
            margin: 0.25rem auto;
            font-style: italic;
            text-shadow: 1px 1px 2px #333;
        }

        & p {
            text-shadow: 1px 1px 2px #333;
            margin-bottom: .5em;
        }
    }
}

@layer utilities {
    .section-padding {
        padding: 0 1em;

        & ul {
            margin-left: 1em;
        }
    }

    .surface {
        grid-column: 1 / -1;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;
        background: linear-gradient(45deg, var(--primary) 70%, hsl(from var(--primary) h s l / 0.2));
        color: white;
    }

    .include-dates {
        position: relative;

        & .dates {
            position: absolute;
            bottom: -30px;
            right: -10px;
            width: 80px;
            aspect-ratio: 1;
            padding: 1em;
            border-radius: 1in;
            background: radial-gradient(circle at bottom left, silver 65%, white);
            color: var(--accent);
            box-shadow: -4px 2px 8px 2px #3338;
            overflow: hidden;
            z-index: 1;

            & .date {
                display: block;
                text-align: center;
                font-weight: bold;
            }

            & .top-date {
                margin-top: -.25em;
            }
        }
    }

    .single-date {
        place-content: center;
    }
}

@layer print {
    @media print {
        body {
            width: 210mm;
            height: 297mm;
        }
    }
}

@media screen and (width < 500px) {
    #about {
        display: block;

        & .life-internal-image {
            display: block;
            margin-inline: 10px;
            max-width: 100px;
            float: left;
        }

        & .life-img {
            display: none;
        }
    }

    #personal {
        ul {
            columns: 1;
        }
    }
}
