@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    padding: 2rem;
    font-size: 1.5rem;
}

p {
    line-height: 1.2;
    font-family: 'Times New Roman', Times, serif;
}

/*Links are by default underlined.
text-decoration: none to remove underline, no decoration
text-shadow: to add this you provide X offset, Y offset, blur radius and color. Best to use px for these values. Requires at minimum an X and Y value.
opacity can be used on links to make it look like they're lighting up as alternative to HSL.
 */

a {
    color: blue;
    text-decoration: none;
}

a:hover,
a:focus {
    /* text-shadow: 2px 2px 10px; */
    /* color: hsl(240, 100%, 75%); */
    opacity: 0.7;
    background: palegreen;
}

a:visited {
    color: purple;

}

a:active {
    color: red;
}